
.my-primary{
    color: lightYellow ;
    background-color: red;
  }
body{
    background-color:white;
}
.list-group-item:hover{
    background-color:black;
    color:white;

}
.list-group-item-action:active{
 color:rgb(45, 224, 21);
}
.list-group-item{
    background-color:rgb(61, 60, 60) ;
    color:white;
}
#aia{
   background-color: rgb(45, 224, 21);
    color: black;
    padding: 10px 20px;
    font-size: 13;
}
#image{
    height: 75%;
    width: 85%;
    
}
.bg{
    background-color :rgb(45, 224, 21);
}
.dropdown-menu{

    background-color: #212529;
    color:rgb(45, 224, 21) ;
  }
  .dropdown-item{

    background-color: #212529;
    color:white ;
  }
  .dropdown-item:hover{

    background-color:black;
    color:rgb(45,224,21) ;
  }